*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(to bottom, #143253, #ffff);
    height: 1500px;
    width: 100%;
}

.main{
    height: 800px;
    width: 400px;
    margin: auto;
    border: 0px;
    background-color: transparent;
    
}
.icon {
    margin: auto;
    height: 100px;
    width: 400px;
    border: 0px solid coral;
    position: relative;
}
.logo_image{
    width:400px; 
    height:200px;
    /* object-fit: cover; */
    position: absolute;
    top: -20px;
    left: -10px;
}
.card-header, .card-body, .card-footer{
    background-color: transparent;
    color: white;
    border: 0 solid blueviolet;
}

.fa-spotify{
    padding-top: 20px;
    font-size: 60px;
    color: white;
}
.loginbtn{
    background-color: #143253;
    width: 300px;
    height: 45px;
    border-radius: 30px;
    color: white;
}
.inp{
    background-color: white;
    border-color: #4e4e4e;
}
input ::placeholder{
    color: #8398a3;
    opacity: 1;
}
.or-container {
    display: flex;
    align-items: center;
    margin: 20px 0;
    color: white; 
}
  
.line {
    flex-grow: 1;
    height: 1px;
    background-color: gray; /* Line color */
}
  
.or-container span {
    margin: 0 10px;
}
.logbtn{
    margin-left: 10px;
    border-radius: 30px;
    width: 260px;
    height: 60px;
    border-color: gray;
}
.logbtn:hover{
    background-color: #121212;
    color: aliceblue;
}

.forget_password{
    color: black;
}
.forget_password:hover{
    color: #143253;
}

.final{
    height: 60px;
    width: 100%;
    background-color: transparent;
    color: black;
    text-align: center;
    padding-top: 20px;
    font-size: 13px;
}
.finallink{
    color: gray;
}

/* Second part password */
.hidden {
    display: none;
}
.progress-bar {
    width: 100%;
    background-color: #404040;
    height: 5px;
    border-radius: 2.5px;
    margin-bottom: 20px;
}
.progress {
    height: 100%;
    background-color: #1db954;
    border-radius: 2.5px;
}
.form-group {
    position: relative;
    margin-bottom: 20px;
}
.toggle-visibility {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}
.requirements {
    text-align: left;
    margin-bottom: 20px;
}
.requirements li {
    list-style: none;
    color: white;
}
/* input[type="radio"]{
    accent-color: green;
    color: coral;
} */
/* .custom-radio {
    display: none;
} */

/* Create a custom radio button */
/* .custom-radio + label::before {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid green;
    background-color: black;
    margin-right: 10px;
    vertical-align: middle;
}

/* Style the checked state */
/* .custom-radio:checked + label::before {
    background-color: green;
    border-color: green;
} */